.business-image-label-container{
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
}
.image-business-main-container{
    height: 10em;
}
.business-image-container{
    height: 12em;
    width: 12em;
}
.business-main-container{
    display: flex;
}