.editorsPick-main-container{
    display: flex; gap: 1em;
    justify-content: center;
    text-align: justify;
    margin: 4em;
}
.editorsPick-image-container{
    width: 7em;
    height: 7em;
}
.editorsPick-image-and-title-detail-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
   
}
.editors-left-main-container{
    gap: 2em;
}
.image-left-main-container{
  height: 15em;
  width: 25em;
    
}
