.label-main-container {
  border-radius: 4em;
  
  align-items: center;
  justify-content: center;
  width: 12em;
  height: 2.5em;
  
  background-color: rgb(189, 205, 243);
  box-shadow: 0.3em 0.5em 0.5em #F4AAB9;
  
 
}
.label-text{
  text-align: center;
}
