.label-main-container {
  border-radius: 4em;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 12em;
  
  margin: 2em;
  background-color: rgb(213, 201, 210);
  box-shadow: 0.1em 0.1em 0.02em #888082;
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1em;

}
.label-text{
  text-align: center;
  padding: 0.5em;
}
