/* .Home-main-container{
    display: flex;
} */
.politics-and-business-main-container{
    display:flex;
    justify-content: center;
    gap: 5em;
   
}
.recent-and-popular-main-container{
    display: flex;
}