/* .Home-main-container{
    display: flex;
} */
.politics-and-business-main-container{
    display:flex;
    justify-content: center;
    
   
}
.recent-and-popular-main-container{
    display: flex;
    
}
.carosel-home-container{
    margin: 0 auto;
    width: 90%;
}
.editors-choice-and-trending-main-container{
    display: flex;
}
