 .caresol-main-container-caresol {
     display: flex;
     justify-content: center;

     align-items: center;
     text-align: justify;

     background-color: rgb(248, 245, 242);
 }

 .caresol-image {
     height: 25em;
     width: 25em;
     margin-left: 1em;
     ;
 }

 .caresol-title-and-detail-container {
     margin-right: 1em;
 }