.TpoNav-main-main-container{
    background-color: rgb(247, 235, 220);
}

.TopNav-container{
    display: flex;
    justify-content: center;
    gap: 50em;
    padding: 3em;

  
}
/* .TpoNav-main-container{
   
} */
.searchandicon{
    display: flex;
    justify-content: center;
    align-items: center;

}
