.TpoNav-main-main-container{
    background-color: rgb(245, 235, 226);

}

.TopNav-container{
    display: flex;
    justify-content: center;
    gap: 30em;
    padding: 2em;

  
}
/* .TpoNav-main-container{
   
} */
.searchandicon{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.social-sites-container{
    display: flex;
    gap: 0.7em;

}
